html {
  /*
  rem 相对于根元素的font-size r就是root
  em 相对于父元素 font-size
  16 * 62.5% = 10px
  * 然而经过测试 50% 的时候才是 10px
  */
  font-size: 50%;
}

html body #root .App {
  min-height: 100vh;
}

.ant-modal-close-x {
  width: 22px !important;
  height: 22px !important;
}
